.contact-card{
    width: 350px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(214, 232, 232);
    height: 90px;
    margin-top: 10px;
    position: absolute;
}
.contact-name{
    font-size: 22px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.m-2{
    margin: 2px;
}
.icon-delete-contact{
    position: absolute;
    bottom: 10px;
    right: 40px;
    box-shadow: 10px;
    padding: 3px;
    border-radius: 10px;
    margin-right: 10px;
}
.icon-edit-contact{
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 10px;
    padding: 3px;
    border-radius: 10px;
    margin-right: 10px;
}